body {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.1rem;
}

header {
  text-align: center;
  background-image: url("../assets/beach_thin-01.png");
  background-size: cover;
  overflow: hidden;
}

header h1 {
  font-family:'Cedarville Cursive', cursive;
  padding-top: 0%;
  margin-left: 0;
  margin-top: 0.5%;
  font-size: 2.5rem;
}

header ul {
  list-style-type: none;
  margin-top: 15%;
  margin-left: 0;
  padding: 0;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

header li {
  display: inline-block;
  padding: 0.5% 1.0% 0.5% 1.0%;
  margin: 0% 0.5% 0% 0.5%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

header li a {
  text-decoration: none;
}

header li:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#banner {
  width: 70%;
  overflow: hidden;
  padding-left: 15%;
  padding-right: 70%;
  position: relative;
  overflow: hidden;
  display: table;
  padding-top: 2%;
  padding-bottom: 2%;
}

#landing-gallery {
  width: 100%;
  margin-left: 18%;
  margin-right: 18%;
  margin: 0 auto;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#image-panel {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 1%;
  width: 40%;
}

#landing-gallery img {
  width: 100%;
  border-radius: 100%;
  float: left;
  background: blue;
}

#intro-text {

  float: left;
  width: 100%;
  vertical-align: middle;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.panel {
  width: 30%;
  display: inline-block;
}

footer {
  clear: both;
  position: relative;
  background-color: lightgray;
  width: 100vw;
    height: 4.5vh;
  font-size: 1.5vw;
}

footer p {
  padding: 1vh 1vw 1vh 1vw;
  font-size: 1.5vw;
}

/*nav {
  display: inline-block;
  width: 98vw;
  text-align: center;
  position: relative;
  padding-right: 2vw;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding-left: 2vw;
  padding-right: 2vw;
}

nav a {
  text-decoration: none;
  font-size: 1.5vw;
}

nav a:hover {
  font-color: gray;
}*/
